<!DOCTYPE html>
<html>
<head>
	<title>Fickstarter</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body><center>
  <h1>WELCOME TO DA FWITTER</h1>
  </center>
  <% @tweets.each do |tweet| %>
  <%= tweet.username%>: <%= tweet.content %>
  <br>
  <%end%>
  <center>
  <form method="POST" action="/new_tweet">
    <h2>Username: </h2> <input type="text" name="username">
    <br><br>
    <h2>Tweet: </h2> <input type="text" name="content">
    <br><br>
    <input type="submit" name="Post your tweet">
  </form>
  </center>
</body>
</html>
