h1{
  font-size: 30px
    font-color:"#A0A0A0"
}

body{
  background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  background-repeat: no-repeat;
}