     <form method="POST" action="/project_sign_up">
      <input type="submit" value="Project Sign up">
</form>
       
        <form method="POST" action="/user_sign_up">
      <input type="submit" value="User Sign up">
</form>
<h1> Projects so far </h1>
<%=@project.project_name%>
<%=@project.genre%>