     <form method="POST" action="/project_sign_up">
      <input type="submit" value="Project Sign up">
</form>
       
        <form method="POST" action="/user_sign_up">
      <input type="submit" value="User Sign up">
</form>