<html>
<head>
  <h1> Project Sign Up </h1>
  </head>
<body>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <form method="POST" action="/project">
     <input type="text" name="project_name" placeholder="project name"> <br>
   <input type="text" name="genre" placeholder="genre"> <br>
   <input type="text" name="rewards" placeholder="rewards"> <br>
   <input type="text" name="days" placeholder="days"> <br>
   <input type="text" name="goal" placeholder="goal"> <br> 
   <input type="text" name="days" placeholder="days"> <br> 
   <input type="text" name="owner" placeholder="owner"> <br>
     <input type="submit" value="Sign up">
     </form>
     </body>
  </html>
