<html>
<head>
  <h1> Project Sign Up </h1>
  </head>
<body>
  <form method="POST" action="/project">
     <input type="text" name="project_name" placeholder="project name">
   <input type="text" name="genre" placeholder="genre">
   <input type="text" name="rewards" placeholder="rewards">
   <input type="text" name="goal" placeholder="goal">
   <input type="text" name="days" placeholder="days">
   <input type="text" name="owner" placeholder="owner">
     <input type="submit" value="Sign up">
     </form>
     </body>
  </html>