<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  </head>
<body>
  <h1 style="color:#A0A0A0"> Project Sign Up </h1><br>
  <div class="container">
  <form method="POST" action="/project">
     <input type="text" name="project_name" placeholder="project name"> <br><br>
   <input type="text" name="genre" placeholder="genre"> <br><br>
   <input type="text" name="rewards" placeholder="rewards"> <br><br>
   <input type="text" name="goal" placeholder="goal"> <br> <br>
   <input type="text" name="days" placeholder="days"> <br> <br>
   <input type="text" name="owner" placeholder="owner"> <br><br>
     <input type="submit" value="Sign up">
     </form>
  </div>
     </body>
  </html>
