<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
<div class="container">
<h1>  Username: <%=@user.username%> </h1>
</div>